logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.lock
bower_components
node_modules
*.log
*.css.map
*.js.map
*.iml
public/javascripts/*.js
public/stylesheets/*.css
public/fonts