@import "settings";
@import "foundation";
@import "font-awesome";

body,html {
  min-height: 100%;
}

body {
  background-color: $vapor;
}

.banner {
  min-height: 25rem;
  /* banner-small will be overwritten by interchange if javascript is running */
  background: #568259 url("/assets/images/banner-small.jpg") no-repeat scroll center center / cover;

  position: relative;

  .banner-content {
    position: absolute;
    right: 0; bottom: 0; left: 0;

    h1 {
      color: $white-smoke;
    }
  }
}


.index-panel {
  background-color: $ghost;
  box-shadow: 1px 1px 4px 1px $iron;

  &:hover, &:active {
    background-color: scale-color($primary-color, $lightness: 75%);
    box-shadow: 1px 1px 6px 2px $base;
  }

  h4 {
    padding: $column-gutter;
  }
}

.panel {
  border: none;
  background-color: $smoke;
}

.summary {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.row.without-centering {
  margin: 0;
}

.page-wrap {
  padding-left: $column-gutter;
  width: 100%;
  transition: padding 0.3s ease;
  box-sizing: border-box;
}

#show-menu {
  position: fixed;
  display: block;
  font-family: sans-serif;
  top: $column-gutter;
  width: $column-gutter;
  text-align: center;
  left: 0;
}

#hide-menu {
  display: none;
  position: fixed;
  background-color: rgba($oil, 0.25);
  top: 0; right: 0; bottom: 0; left: 0;
}

#main-navigation {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: $primary-color;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1;
  box-sizing:border-box;

  a, .active {
    display: block;
    border: none;
    color: $ghost;
    padding: rem-calc(15);

    &.child {
      background: scale-color($primary-color, $lightness: - 10%);
      padding-left: rem-calc(30);
    }

    &:hover, &:focus,  &.child:hover, &.child:focus {
      background: scale-color($primary-color, $lightness: - 20%);
    }

    &.active {
      background: scale-color($primary-color, $lightness: + 10%);
    }
  }

  &:target {
     width: rem-calc(400);
     max-width: 90%
  }

  &:target + .page-wrap {
    padding-left: (rem-calc(400) + $column-gutter);
    #show-menu {
      display:none;
    }
    #hide-menu {
      display:block;
    }
  }
}

@media #{$large-up} {
  #main-navigation {

    width: rem-calc(300);

    & + .page-wrap {
      padding-left: (rem-calc(300) + $column-gutter);
    }

    #show-menu {
      display:none;
    }
    #hide-menu {
      display:none;
    }
  }
}

@media #{$xlarge-up} {
  #main-navigation {
    width: rem-calc(400);

    & + .page-wrap {
      padding-left: (rem-calc(400) + $column-gutter);
    }
  }
}