@(template: StandardTemplate, sections: Map[String,String], currentPath: String, menuRootOpt: Option[NavigationNode])

@main(template.title + " | Goblinoid.co.uk") {

	<nav id="main-navigation">
		@menuRootOpt match {
			case Some(menuRoot) => {
				<a href="@menuRoot.path">@menuRoot.title</a>
				@views.html.menuNode(currentPath, menuRoot.children, "")
			}
			case None => {}
		}
	</nav>

	<div class="page-wrap">
		<a id="show-menu" href="#main-navigation"><i class="fa fa-bars"></i></a>
		<a id="hide-menu" href="#"></a>

		@template.breadcrumbsOpt match {
			case Some(breadcrumbs) => {
				<div class="breadcrumbs-wrapper">
					<div class="row without-centering">
						<div class="small-12 large-8 large-offset-2 columns">
							<nav class="breadcrumbs">
								@for(breadcrumb <- breadcrumbs) {
								<a @Html(breadcrumb.currentAttr) href="@breadcrumb.url">@breadcrumb.title</a>
								}
							</nav>
						</div>
					</div>
				</div>
			}
			case None => {}
		}

		<div class="row without-centering">
			<main class="small-12 large-8 large-offset-2 columns">
				@Html(sections(template.content))
			</main>
		</div>
	</div>
}